.imageupload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  bottom: 0;
  border: 3px solid lightgray;
  padding: 5px;
  border-radius: 20px;
}
.ImageUpload__progress {
  width: 100%;
}
